 .navBar{
     background-color: rgb(224, 163, 83); 
    border: 2px solid black;
    border-radius: 10px;
    width: 650px;
    height: 100px;
    
    
} 

.text{
    font-size: 45px;
    font-family: 'Times New Roman';
    color: white;
    left: 20px;
    /* right: 0;
    top: 0;
    bottom: 0; */

}